footer {
    background: #F7F6F6;
    padding: 1em;
    text-align: center;
    margin-top: 2em;
    clear: both;
}

footer .links li {
    display: inline-block;
    border-right: 1px solid #333;
    margin-right: 0.5em;
    padding-right: 0.5em;
}
footer .links li:last-child,
footer .links li.support {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

footer li.language {
    display: block;
    margin-top: 1em;
}

footer .links a {
    color: #333;
}

.copyright {
    color: #999;
    margin-top: 1em;
}

#footer-logo a {
    display: block;
    height: 33px;
    width: 91px;
    background: url(../img/u1-small.png);
}

footer.compact .links li:last-child {
    border-right: none;
}

@media all and (min-width:768px) {



    footer {
        text-align: left;
        font-weight: 300;
        font-size: 13px;
        padding: 1em 2em;
    }

    footer .title {
        font-size: 13px;
        font-weight: 400;
    }

    footer .links {
        border-top: 1px dotted #D1D1D1;
        border-bottom: 1px dotted #D1D1D1;
        margin: 0.5em 0;
        padding: 0.5em 0;
    }
    footer .links li {
        display: block;
        border: none;
        margin: 0;
        padding: 0;
        line-height: 1.5;

    }
    footer .links a {
        color: #676767;
    }


    .ubuntuone-links {
        margin-right: 1em;
    }
    .ubuntuone-links .links li {
        margin-bottom: .5em;
    }

    .other-links .links {
        max-width: 23em;
        border-bottom: none;
    }

    .other-links .links li {
        display: inline-block;
        margin-right: 2.5em;
        text-align: center;
        font-weight: 400;

    }
    .other-links .links li:last-child {
        margin-right: 0;
    }
   .other-links .links a {
        display: block;
        width: 50px;
        height: 20px;
        background: url("../img/footer-icon-apps.png") no-repeat scroll 50% 0 transparent;
        padding-top: 40px;
    }
    .other-links .link-photos a {
        background-image: url("../img/footer-icon-photos.png");
    }
    .other-links .link-music a {
        background-image: url("../img/footer-icon-music.png");
    }
    .other-links .link-cloud a {
        background-image: url("../img/footer-icon-cloud.png");
    }

    .copyright p {
        font-size: 13px;
        color: #676767;
        display: inline;
    }

    .footer-logo {
        float: right;
    }

    /* Footer compact ------------------------------------------------------------*/

    .compact {
        border-top: 1px dotted #D1D1D1;
    }

    .compact .copyright {
        margin: 0;
    }

    .compact .year-and-canonical {
        border-right: 1px solid #333;
        display: inline-block;
        padding-right: 0.65em;
        margin: 0 0.65em 0 0;
        line-height: 1.2;
    }
    .compact .title {
        display: none;
    }

    .compact .footer-logo,
    .compact .other-links {
        display: none;
    }
    .compact .ubuntuone-links {
        left: 0;
        margin: 0 0 0 169px;
        position: absolute;
        width: auto;
        right: 0;
    }


    .compact .links {
        margin: 0;
        padding: 0;
        border: none;
    }
    footer.compact .links li {
        display: inline-block;
        border-right: 1px solid #333;
        margin-right: 0.5em;
        padding-right: 0.5em;
        line-height: 1em;
    }


    .compact .links a {
        color: #333;
    }

}
