/* Typography Base */

select,
input,
button,
textarea,
body {
    font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
    color: #333;
    line-height: 1.5;
}

/* --- Headings ------------------------------------------------------------ */

h1, h2, h3, h4,
.u1-h-display,
.u1-h-main,
.u1-h-med,
.u1-h-light {
    font-weight:300;
}

h5, h6,
.u1-h-small,
.u1-h-subhead {
    font-weight:700;
}

h6, .u1-h-subhead {
    text-transform: uppercase;
}

h1, .u1-h-display {
    font-size:45px;
}
h2, .u1-h-main {
    font-size:32px;
}
h3, .u1-h-med {
    font-size:23px;
}
h4, .u1-h-light {
    font-size:20px;
}
h5, .u1-h-small {
    font-size:16px;
}
h6, .u1-h-subhead {
    font-size:13px;
}


/* Footer ------------------------------------------------------------*/
footer {
    text-align: left;
    font-weight: 300;
    font-size: 13px;
    padding: 1em 2em;
}

footer .title {
    font-size: 13px;
    font-weight: 400;
}

footer .links {
    border-top: 1px dotted #D1D1D1;
    border-bottom: 1px dotted #D1D1D1;
    margin: 0.5em 0;
    padding: 0.5em 0;
}
footer .links li {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;

}
footer .links a {
    color: #676767;
}


.ubuntuone-links {
    margin-right: 1em;
}
.ubuntuone-links .links li {
    margin-bottom: .5em;
}

.other-links .links {
    max-width: 23em;
    border-bottom: none;
}

.other-links .links li {
    display: inline-block;
    margin-right: 2.5em;
    text-align: center;
    font-weight: 400;

}
.other-links .links li:last-child {
    margin-right: 0;
}
.other-links .links a {
    display: block;
    width: 50px;
    height: 20px;
    background: url("../img/footer-icon-apps.png") no-repeat scroll 50% 0 transparent;
    padding-top: 40px;
}
.other-links .link-photos a {
    background-image: url("../img/footer-icon-photos.png");
}
.other-links .link-music a {
    background-image: url("../img/footer-icon-music.png");
}
.other-links .link-cloud a {
    background-image: url("../img/footer-icon-cloud.png");
}

.copyright p {
    font-size: 13px;
    color: #676767;
    display: inline;
}

.footer-logo {
    float: right;
}

/* Footer compact ------------------------------------------------------------*/

.compact {
    border-top: 1px dotted #D1D1D1;
}

.compact .copyright {
    margin: 0;
}

.compact .year-and-canonical {
    border-right: 1px solid #333;
    display: inline-block;
    padding-right: 0.65em;
    margin: 0 0.65em 0 0;
    line-height: 1.2;
}
.compact .title {
    display: none;
}

.compact .footer-logo,
.compact .other-links {
    display: none;
}
.compact .ubuntuone-links {
    left: 0;
    margin: 0 0 0 169px;
    position: absolute;
    width: auto;
    right: 0;
}


.compact .links {
    margin: 0;
    padding: 0;
    border: none;
}
footer.compact .links li {
    display: inline-block;
    border-right: 1px solid #333;
    margin-right: 0.5em;
    padding-right: 0.5em;
    line-height: 1em;
}


.compact .links a {
    color: #333;
}



.form-box {
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    margin: 1em;
}

.ubuntuone-information {
    margin-top: 1em;
    margin-right: 3em;
    padding: 0 0 0 1em;
    border-left: 1px dotted #ccc;
}

.js .login .returning-user span {
    display: inline;
}

.js .login .email-input {
    position: relative;
    top: -105px;
}

.js .login .user-intention {
    position: relative;
    top: 70px;
    z-index: 2;
}

.recaptcha-noscript {
    height: 330px;
}

.create-account .form-box {
    margin-right: 3em;
}

#cont {
    border: 4px solid #E6E3E1;
    border-width: 0 16px;
}

#u1-logo {
    background: url(../img/u1_logo_med.png) no-repeat left;
    height: 60px;
    width: 167px;
}

#content {
    padding: 0 10px;
}

h1 {
    font-size: 45px;
    margin-bottom: 10px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 23px;
}
h4 {
    font-size: 32px;
}

.page-title > h1 {
    font-weight: 300;
}
