/* Boxes -------------------------------------------------------------------*/
.box {
    background: none repeat scroll 0 0 #F7F6F5;
    border-radius: 6px;
    margin-bottom: 3em;
    padding: 0 1em 1em;
}
.box .title {
    border-bottom: 1px dotted #CCCCCC;
    margin: 0 -1em 1em;
    padding: .5em 1em;
}


/* Header -------------------------------------------------------------------*/
header .wrapper {
    background: url(../img/dots.png) no-repeat 100% -10px;
    min-height:34px;
    overflow: visible;
}
@media all and (min-width:768px) {
    header .wrapper {
        background: url(../img/dots.png) no-repeat 100% 8px;
        min-height:64px;
    }
}
header .wrapper h1 {
    float: left;
}
#ac-status {
    text-align: right;
    max-width: 50%;
    float: right;
    margin-bottom: 20px;
}
#u1-logo {
    top:-10px;
    float: left;
    text-indent: -999em;
    display: block;
    background: url(../img/u1-small.png) no-repeat left;
    width: 91px;
    height: 33px;
    position: relative;
    z-index: 1;
}

/* Messages -------------------------------------------------------------------*/
.message {
    border-radius: 6px;
    padding: 1em;
    margin-bottom: 1em;
}

.message p:last-child {
    margin: 0;
}

.warning {
    background: #ffa;
}

.error {
    background: #c00;
    color: white;
}

.error a {
    color: white;
    text-decoration: underline;
}

.success,
.informational,
.info {
    background: url("../../tick-large.png") no-repeat scroll 0 1.2em transparent;
    padding-left: 2em;
}

/* Form box -------------------------------------------------------------------*/
.form-box {
    background: #F7F7F7;
    border-top: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
    padding: 20px 22px;
}

.form-box .title {
    border-bottom: 1px dotted #D1D1D1;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.trusted-rp-name:after {
    content: " → ";
    display: inline;
}

.form-box .input-row,
.edit-account-details .input-row {
    width: inherit;
}

.input-row {
    width: 290px;
    margin-bottom: 1em;
}

input[type=text],
input[type=email],
input[type=password] {
    border: 1px solid #AEA79F;
    padding: 0.3em;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.ie8 input[type=text],
.ie8 input[type=email],
.ie8 input[type=password] {
    line-height: 1;
}
.ie8 input[type=password] {
    font-family: Arial, sans-serif;
}

.haserrors input[type=text],
.haserrors input[type=email],
.haserrors input[type=password] {
  border: 1px solid #DD4814;
}

form .error {
    color: #c00;
    font-weight: bold;
    font-size: 14px;
    background: transparent;
}
label {
    display: block;
    margin-bottom:8px;
}

.form-box .actions {
    border-top: 1px dotted #D1D1D1;
    padding-top: 1em;
    margin-top: 1em;
}

.accept-tos-input {
    margin-top: 2em;
}

.accept-tos-input label {
    display: inline;
}

.accept-tos-input .error {
    display: block;
}

@media all and (min-width:768px) {

    .form-box {
        border: 1px solid #CDCDCD;
        border-radius: 5px;
        margin: 0 1em 1em 0;

        /* always wrap the recaptcha */
        min-width: 315px;
    }


}

/* Login -------------------------------------------------------------------*/

.login .cta {
    margin-right: 1em;
}

.new-user {
    margin-bottom: 0.9em;
}

.readonly .new-user {
    color: #ccc;
}

.login .forgot-password {
    display: inline-block;
    font-size: 14px;
}

.related-information {
    padding: 1em;
}

.js .create-form.show-no-js {
    display: none;
}

.dual-forms {
    position: relative;
}

.js .create-form {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.js .user-intention i {
    font-style: normal;
    visibility: hidden;
}

.js .selected-login i {
    visibility: visible;
}

.no-js-create-account {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    padding: 1em 0;
    margin: 3em 0;
    text-align: center;
    color: #666;
    text-shadow: 1px 1px #fff;
    font-size: 13px;
}

.user-intention span {
    cursor: pointer;
}

.user-intention input {
    vertical-align: top;
    position: relative;
    top: 5px;
}

@media all and (min-width:330px) {

    .js .login .email-input {
        position: relative;
        top: -105px;
    }

    .js .login .user-intention {
        position: relative;
        top: 70px;
        z-index: 2;
    }

    .js .login .returning-user span {
        display: inline-block;
        width: 70%;
    }

}

@media all and (min-width:480px) {

    .js .login .returning-user span {
        width: 53%;
    }

}

@media all and (min-width:768px) {

    .related-information {
        margin-left: 3em;
        padding: 0 0 0 1em;
        border-left: 1px dotted #ccc;
    }

    .js .login .returning-user span {
        display: inline;
    }

}


/* Create account ------------------------------------------------------------*/

.recaptcha-noscript {
    width: 100%;
}

.recaptcha-challenge-field {
   width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media all and (min-width:768px) {

    .recaptcha-noscript {
        height: 330px;
    }

   .create-account .form-box {
        margin-right: 3em;
    }

}



/* Edit account -----------------------------------------------------------*/

.backupdevice-warn-input label {
    display: inline;
}

.edit-account-details {
    margin-bottom: 2em;
}

.site-date {
    text-align: right;
}
.last-authenticated-sites .subtitle {
    float: right;
    position: relative;
    top: 1em;
}


@media all and (min-width:768px) {

    .edit-account-details input,
    .edit-account-details select {
        max-width: 50%;
    }


    .last-authenticated-sites {
        max-width: 70%;
    }

}


.manage-email-adresses {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px dotted #ccc;
}

.preferred-email-input select {
    width: 100%;
}


/* Applications -----------------------------------------------------------*/

.used-applications .subtitle {
    float: right;
    position: relative;
    top: 1em;
}
.application-date {
    text-align: right;
}
.application-date + td {
    text-align: right;
}


/* Menu -------------------------------------------------------------------*/

.menu li a,
.menu li span {
    display: block;
    border-bottom: 1px dotted #ccc;
    line-height: 2.5em;
    padding: 0 1em;
    color: #333;
}

.menu li .active {
    background-color: #F7F6F5;
}

.menu li .active:after {
    content: '▶';
    font-size: 10px;
    float: right
}

@media all and (min-width:768px) {

    .menu {
        width: 15em;
        float: left;
    }

    .with-menu #content {
        border-left: 1px dotted #ccc;
        padding-bottom: 2em;
    }

    .with-menu footer {
        margin-top: 0;
    }
}


/* Information ---------------------------------------------------------------*/

.account-information {
    font-weight: 300;
}

.account-information h3 {
    margin-bottom: 0.5em;
}

.account-faq {
    float: right;
}

.benefits {
    border: 1px solid #D3D3D3;
    padding: 1.5em;
    border-radius: 6px;
    margin: 2.5em 0 2em;
}

.benefits .apps,
.benefits .music,
.benefits .photos,
.benefits .cloud {
    margin-bottom: 1em;
    padding-left: 60px;
    background: url("../img/icons.png") no-repeat scroll 0 50% transparent;
    height: 40px;
    line-height: 40px;
}

.benefits .apps {
    background-position: 0 -160px;
}
.benefits .music {
    background-position: 0 -200px;
}
.benefits .photos {
    background-position: 0 -240px;
}
.benefits .cloud {
    background-position: 0 -280px;
}

.benefits li:last-child {
    margin-bottom: 0;
}

.questions {
    margin: 0 0 0 1em;
}
.questions li {
    list-style: disc outside none;
    margin-bottom: .5em;
}

.more-help {
    margin: .5em 0 -0.5em;

}

.password-reset-advice {
    margin-top:5em;
}


/* Language select -----------------------------------------------------------*/

.language-select {
    margin-bottom: 1em;
}

.language-select p {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.language-select label {
    display: inline-block;
    cursor: pointer;
}

.cannot-find-language {
    float: right;
}


/* Messages ------------------------------------------------------------------*/

@media all and (min-width:768px) {
    .readonly {
        margin-top: 56px;
    }
    .readonly-message {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
        padding: .25em;
        border-radius: 0;
    }
    .readonly .readonly-message p {
        margin: 0 auto;
        max-width: 700px;
    }
}

/* General -------------------------------------------------------------------*/

table.listing {
    margin: 0 0 2em 0;
}

@media all and (min-width:480px) {

    #cont {
        border: 4px solid #E6E3E1;
        border-width: 0 4px;
    }

}
@media all and (min-width:768px) {

    #cont {
        border-width: 0 16px;
    }

    #u1-logo {
        background: url(../img/u1_logo_med.png) no-repeat left;
        height: 60px;
        width: 167px;
    }

    #content {
        padding: 0 20px;
    }


}
@media all and (min-width:980px) {


}
