# generic
*.pyc

# virtualenv
.env

# config 
dj/local.cfg
scripts/local.cfg-

# packages
packages/

# tests
.coverage*
coverage
*.xml
tags
.backup
reports

# logging
logs/*
oopses/*

# docs
docs/html
docs/html/*

# other
.pyflymakerc*
.noseids
results
