{% load i18n %}

<div class="input-row{% if fields.password.errors or fields.non_field_errors %} haserrors{% endif %} password-input">

    {% if edit_account_labels %}
        <label for="id_password">{% trans "Choose password" %}</label>
    {% endif %}

    {% if fields.password.errors %}
        <span class="error">{{ fields.password.errors|first }}</span>
    {% endif %}

    {{ fields.password }}

</div>

<div class="input-row{% if fields.passwordconfirm.errors or fields.non_field_errors %} haserrors{% endif %} passwordconfirm-input">

    {% if edit_account_labels %}
        <label for="id_passwordconfirm">{% trans "Re-type password" %}</label>
    {% endif %}

    {% if fields.passwordconfirm.errors %}
        <span class="error">
            {{ fields.passwordconfirm.errors|first }}
        </span>
    {% endif %}
    {% if fields.non_field_errors %}
        <span class="error">{{ fields.non_field_errors|first }}</span>
    {% endif %}

    {{ fields.passwordconfirm }}

</div>
