{% load i18n static_url %}
<footer>
    <div class="pri">
        <ul class="link-lists">
           <li class="first">
                <h5>Ubuntu one</h5>
                <ul>
                    <li><a href="#" class="file">File Sync</a></li>
                    {% block language_footer %}
                    {% if not embedded %}
                    <li id="language_footer"><a href="#" class="file picker">{% trans "Choose your language" %} ({{ LANGUAGE_CODE }})</a></li>
                    {% endif %}
                    {% endblock %}
                    <li><a href="{{ 'support_form'|static_url }}">{% trans "Login support" %}</a></li>
                </ul>
           </li>
            <li class="last">
                <h5>One place to log in to everything on Ubuntu</h5>
                <ul>
                    <li><a href="#">Apps</a></li>
                    <li><a href="#">Photos</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Cloud</a></li>
                </ul>
            </li>
        </ul>

        <div id="footer-logo"><a href="{% if not embedded %}http://www.ubuntu.com{% endif %}"></a></div>

        <div class="copyright-privacy" id="copyright">
            <p>{% blocktrans with current_date|date:"Y" as current_year %}&copy; 2009-{{ current_year }} Canonical Ltd.
            <a href="https://launchpad.net/canonical-identity-provider">Source code for this service</a> is licensed under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL</a>.<br />
            Ubuntu and Canonical are registered trademarks of Canonical Group Ltd.<br />
            Please review our <a href="http://ubuntu.com/legal">Terms of Service</a> as well as our <a href="http://ubuntu.com/legal#privacy">Privacy Policy</a>.{% endblocktrans %}</p>
        </div>

    </div><!-- close .pri -->
</footer> <!-- close #ft -->
