{% load i18n %}
<p class="title" data-qa-id="_qa_ubuntu_login_title">
    {% if rpconfig and rpconfig.displayname %}
    <span class="trusted-rp-name" data-qa-id="_qa_trusted_rp_login">
        {{ rpconfig.displayname }}
    </span>
    <span>
        {% blocktrans %}log in with {{ brand_description }}{% endblocktrans %}
    </span>
    {% else %}
    <span class="trusted-rp-name">
        {{ brand_description }}
    </span>
    <span>
        {% trans "log in" %}
    </span>
    {% endif %}
</p>
