Source: canonical-mock-identity-provider
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python,
 python-central (>= 0.6),
 python-setuptools
Maintainer: Anthony Lenton <anthony.lenton@canonical.com>
Standards-Version: 3.8.3
XS-Python-Version: current

Package: python-mock-canonical-identity-provider
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends},
Description: Canonical Mock OpenID provider

