/* Form related styling */
input, select {
    /* Override mozilla's default form css inherited from the system */
    font-size: 100%;
}
form label {
    color: black;
}
form input[type=text],
form input[type=password],
form textarea {
    border: 1px solid #c7c7c7;
    padding: 2px;
    color: black;
    background: #fff;
    display: block;
    margin: 3px 8px 8px 0;
    float: left;
    width: 200px;
}
form input[type=text]:focus,
form input[type=password]:focus,
form textarea:focus,
.recaptcha_theme_white #recaptcha_response_field:focus {
    border: 1px solid #dd4814;
    outline: 1px solid #dd4814;
}
#captcha iframe {
    display: block;
}

/* Override FormAssembly formatting */
.wFormContainer {
    padding: 0;
    width: 100%;
}
form {
    margin: 0;
}
form .actions .primaryAction {
    background-color: #dd4814;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: #333 0px 1px;
    margin: 10px 8px 10px 8px;
}
form input[type=text].errFld {
    border: 2px solid #dd4814;
}

/* This came from https://wiki.canonical.com/UserExperienceDesign/WebGuidelines/CanonicalCSS */
form .formHelp {
    color: #777;
    margin: 0.2em 0 0.5em 0.8em;
    font-size: 80%;
    /* This part is custom for SSO */
    display: block;
    clear: both;
}

form .errMsg {
    color: #dd4814 !important;
}
form .oneChoice {
    display: block;
}
form .oneField {
    padding: 0 8px;
    margin-bottom: 8px;
}

form span.reqMark {
    color: #dd4814 !important;
    font-weight: bold !important;
}
fieldset {
    border: none;
    padding: 0;
    background: #dfdcd9;
}
legend {
    padding: 8px;
    font-size: 16px;
    font-weight: normal !important;
    background: #aea79f;
    width: 100%;
    color: #fff;
    margin-bottom: 8px;
}
fieldset.undecorated {
    background: transparent;
}
fieldset.boxed {
    border: solid 1px #dfdcd9;
    padding: 5px;
    margin-bottom: 8px;
}
fieldset.undecorated label {
    color: #333;
    font-size: 100%;
}
fieldset.undecorated legend {
    background: transparent;
    color: #333;
    width: auto;
    padding: 0px;
}
fieldset.undecorated ul {
    margin-top: 0px;
}
fieldset.undecorated ul li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
label.preField,
.labelsLeftAligned label.preField,
.labelsRightAligned label.preField  {
    float: none;
    padding-bottom: 4px;
}
label.postField {
    display: inline;
}
/* Hack for WebKit based browsers to display the fieldset properly */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    fieldset {
        padding: 8px 8px .1px 0px;
    }
    legend {
        padding: 8px 0px 8px 8px;
    }
}

/* Errors */
#content .captchaError #recaptcha_response_field {
    border: 3px solid #df382c;
}
#content #recaptcha_instructions_error {
    color: #dd4814 !important;
}

p.haserrors input.textType {
    border: 3px solid #df382c;
    padding: 3px 1px;
}

span.error {
    min-height: 12px;
    color: #df382c;
    font-size: 90%;
    line-height: 1.4em;
    padding: 4px 0 6px 25px;
    background: transparent url('/assets/identityprovider/ubuntu/error.png') top left no-repeat;
    display: block;
    position: relative;
    top: 4px;
    margin-left: 220px;
}
html span.error a {
    text-decoration: underline;
}

.input-row, form p {
    clear: both;
}
.input-row label, form p label {
    padding-top: 8px;
}

p.actions {
    clear: both;
}
