{% load i18n %}

<script type="text/javascript">

    YUI({
        groups: {

            u1: {
                base: '{{ STATIC_URL }}identityprovider/ubuntuone/js/u1/build/',
                combine: {{ combine|lower }},
                root: 'identityprovider/ubuntuone/js/u1/build/',
                modules:  {
                    'one-password-meter': {
                        type: 'js',
                        path: 'one-password-meter/one-password-meter-min.js',
                        skinnable: true
                    }
                }
            }
        }
    }).use('one-password-meter', function(Y) {

        var passwordMeter = new Y.U1.Widgets.PasswordMeter({
            input: '{{ css_expr }}',
            feedback: [
                {
                    className: '{% trans "short" %}',
                    text: '{% trans "Password too short" %}'
                },
                {
                    className: '{% trans "weak" %}',
                    text: '{% trans "Strength: weak" %}'
                },
                {
                    className: '{% trans "fair" %}',
                    text: '{% trans "Strength: fair" %}'
                },
                {
                    className: '{% trans "good" %}',
                    text: '{% trans "Strength: good" %}'
                },
                {
                    className: '{% trans "strong" %}',
                    text: '{% trans "Strength: strong" %}'
                }

            ]
        });
        passwordMeter.render();

    });

</script>
