{% extends "base.html" %}

{% load i18n %}

{% block extra_css %}
    {% if rpconfig and rpconfig.logo_url %}
    <style type="text/css" data-qa-id="test_2f_rp">
        p.title {
            background-image: url('{{ rpconfig.logo_url }}');
            background-repeat: no-repeat;
            background-position: 0 20%;
            padding-left: 24px;
        }
    </style>
    {% endif %}
{% endblock %}

{% block text_title %}
    {% trans "One account to log in to everything on Ubuntu" %}
{% endblock %}

{% block bodyclass %}{% endblock %}
{% block menu %}{% endblock %}

{% block content %}
<div class="yui3-g-r">

    <div id="auth" class="yui3-u-1-2">

        <div class="form-box">

            <p class="title" data-qa-id="ubuntu_2fauth_title">
                {% if rpconfig and rpconfig.displayname %}
                <span class="trusted-rp-name" data-qa-id="trusted_rp_2fauth">
                    {{ rpconfig.displayname }}
                </span>
                {% endif %}
                <span>
                    {% trans "2-factor authentication" %}
                </span>
            </p>


            <form id="login-form" action="" method="post" name="loginform">
                {% csrf_token %}
                <p id="oathtoken" class="input-row{% if form.oath_token.errors or form.non_field_errors %} haserrors{% endif %}">

                    <label for="id_oath_token">{% trans "Type your verification code:" %}</label>

                    {{ form.oath_token }}

                    {% if form.oath_token.errors %}
                      <span class="error">{{ form.oath_token.errors|join:"" }}</span>
                    {% endif %}

                    {% if form.non_field_errors %}
                       <span class="error">{{ form.non_field_errors|join:"" }}</span>
                    {% endif %}
                </p>

                <div class="actions">
                    {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
                    <button type="submit" class="cta" name="continue"><span>{% trans "Authenticate" %}</span></button>
                    {% if token %}{% trans "or" %}
                    {% include "common/cancel_link.html" %}{% endif %}
                </div>

            </form>

        </div>

    </div>

    <div class="yui3-u-1-3">

        {% include "registration/two_factor_information.html" %}

    </div>

</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

    YUI().use('node', function(Y) {
        // autofocus shiv
        if (!("autofocus" in document.createElement("input"))) {
            Y.one('#oathtoken').focus();
        }

    });

</script>
{% endblock %}
